
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>TechHub</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel= "stylesheet" type = "text/css" href="{% static '/css/main.css'%}">
</head>
{% include 'Tech/navbar.html' %}



{% block content %}

<head>
	<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 5px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	</style>
	</head>
	<body>
	
<h2>Processors:</h2>
<table>
	
	<tr>
	  
	  <th>Name</th>
	  <th>Price</th>
	  <th>Shop Name</th>
	  <th>Review Link</th>

	</tr>
	<tbody>
		{%for i in cpu%}
		<tr>
			<td>{{i.model}}</td>
			<td>{{i.price}}</td>
			<td>{{i.shopname}}</td>
			<td><a target="_blank" href="'i.reviewlink'">{{i.reviewlink}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
<h3> </h3>
</body>

{% endblock %}